<div class="row">
  <div class="col-xs-6 col-xs-offset-3 home">
    <h1 align="center" class="title">WHERE ARE YOU GOING TONIGHT?</h1>
    <form>
      <div class="input-group input-group-lg" align="center" id="search">
        <input ng-model="searchString" type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" ng-click="search(searchString)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
      </div>
    </form>

    <div id="list">
      <!-- image + name + desc + address + button + linl -->
      <div ng-repeat="bar in bars" class="bar-container">
        <div ng-show="bar.image_url" class="bar-thumb"><a href="{{bar.url}}" target="new"><img src="{{bar.image_url}}" /></a></div>
        <div class="bar-content">
          <a class="bar-title" href="{{bar.url}}" target="new">{{bar.name}}</a>
          <p>{{bar.snippet_text}}</p>
          <span ng-repeat="address in bar.location.display_address">
            {{address}}
          </span>
          <button ng-hide="{{bar.userIsAttending}}" id="going" class="btn btn-success" ng-click="barSignUp(bar)">Sign me up!</button>
          <button ng-show="{{bar.userIsAttending}}" id="not-going" class="btn btn-danger" ng-click="barSignOut(bar)">Sign me out</button>
        </div>
      </div>
    </div>
  </div>
</div>
