<div class="row">
  <div class="col-xs-6 col-xs-offset-3 home">
    <h1 align="center" class="title">WHERE ARE YOU GOING TONIGHT?</h1>
    <div id="list">

      <!-- image + name + desc + address + button + linl -->
      <div ng-repeat="bar in bars" class="bar-container">
        <div class="bar-thumb"><a href="{{bar.url}}" target="new"><img src="{{bar.image_url}}" /></a></div>
        <div class="bar-content">
          <a class="bar-title" href="{{bar.url}}" target="new">{{bar.name}}</a>
          <p>{{bar.snippet_text}}</p>
          <span ng-repeat="address in bar.location.display_address">
            {{address}}
          </span>
          <button id="going" class="btn btn-success" ng-click="barSignUp(bar)">Sign me up!</button>
        </div>
      </div>
    </div>
  </div>
</div>
