.access {
  float: right;
  margin-right: 25px;
}

.view {
  color: white;
  margin-top: 25px;
}
/* nav bar */
.logo {
  font-size: 200%;
}

.title {
  margin-bottom: 50px;
}

/* body background + shade */
body  {
  position:relative;
  background: #00BCD4 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  height:auto;
  margin:0 ;
  background-image: url("/img/bg.jpg");
}

body:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.view {
  margin-bottom: 70px;
}

.bar-container {
    margin: 20px 20px 0 0;
    overflow: auto
}
.bar-thumb {
    float: left;
    border: 5px solid #fff;
}
.bar-thumb img {
    display: block;
}
.bar-content {
    margin-left: 120px;
}
.bar-title {
    font-weight: bold;
    font-size: 150%;
}

#going {
  float: right;
}

.glyphicon-search {
  color: black;
}

#not-going {
  float: right;
}

/* avoid a links fromatting when showing bars */
.bar-container a {
  color: inherit;
  text-decoration: inherit
}

.bar-container a:hover {
  color: inherit;
  text-decoration: inherit;
}

.bar-container a:visited {
  color: inherit;
  text-decoration: inherit;
}

#search {
  margin-bottom: 50px;
}

.list-going {
  margin-bottom: 50px;
}

.italic {
  font-style: italic;
}
